---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import { Image } from "astro:assets"
import type { ImageMetadata } from "astro"
import { FALLBACK_BLOG_HERO_IMAGE } from "~/consts"

// Get all blog posts
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

// Fill in missing hero images with a default image
for (const post of posts) {
  post.data.heroImage ??= FALLBACK_BLOG_HERO_IMAGE
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
)
for (const post of posts) {
  const imagePath = post.data.heroImage ?? FALLBACK_BLOG_HERO_IMAGE
  if (!images[imagePath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    )
}
---

<BaseLayout>
  <div class='mx-auto max-w-6xl px-5'>
    <h1
      class='animate-fade-right py-10 text-5xl font-bold leading-tight tracking-tighter animate-delay-300 animate-duration-[1500ms] animate-ease-in-out md:text-6xl'>
      My Blog
    </h1>
    <section>
      <div
        class='stagger-delta-100 animate-delay-stagger mb-8 grid grid-cols-1 gap-y-5 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-6 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-8'>
        {
          posts.map((item, id) => (
            <a
              href={`/${item.slug}`}
              style={{ "--animation-order": id /* For staggered animation */ }}
              class='scale-100 animate-fade-right cursor-pointer overflow-hidden rounded-md border border-nier-700 transition duration-100 !animate-duration-700 hover:scale-[1.02] hover:shadow active:scale-[0.97] motion-safe:transform-gpu motion-reduce:hover:scale-100 md:w-full'>
              <div class='relative select-none sm:mx-0'>
                {/* <BlogViewCount
              slug={item.slug}
              class="absolute left-0 top-0 px-3 py-2"
            />
            <BlogLikeCount
              slug={item.slug}
              class="absolute right-0 top-0 px-3 py-2"
            /> */}
                <Image
                  src={images[item.data.heroImage!]!()}
                  alt={`${item.data.title}`}
                  class='h-auto w-full object-cover object-center'
                  loading='eager'
                />
              </div>
              <div class='p-4'>
                <h3
                  class='mb-2 text-xl font-bold leading-snug hover:underline'
                  transition:name={item.data.title}>
                  {item.data.title}
                </h3>
                <div class='text-md mb-4 text-slate-700' />
                <p class='mb-4 text-lg leading-relaxed'>
                  {item.data.description}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
